<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"></meta>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"></meta>
    <link href="https://asks.oss-cn-beijing.aliyuncs.com/static/css/important.css" rel="stylesheet" type="text/css"></link>
    <script src="https://asks.oss-cn-beijing.aliyuncs.com/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://asks.oss-cn-beijing.aliyuncs.com/static/js/vueJs2.5.16.js"></script>
    <title>借款服务协议</title>
    <style>
        html,body{width: 100%;height: 100%;}
        body{margin: 0px;padding: 0px;font-size: 62.5%;background-color: #FFFFFF;}
        a{text-decoration: none;}
        p{margin:0;padding:0}
        h1,h2,h3{margin:0;padding:0}
        html,body{
            font-family: 'SimSun';
        }
        .reg-agreement table.debit{
            margin-left：1em!important;
        }
        .reg-agreement table.debit tr td:first-child{
            width: 25%;
        }
        .reg-agreement {
            background: #fff;
            /* color:#677887; */
            color:#000;
            line-height: 24px;;
        }
        .reg-agreement .reg-wrap {
            padding: 30px 15px;
            margin-bottom: 48.75px;
        }
        .reg-agreement h1 {
            margin: 0;
            font-size: 2.2em;
            text-align: center;
            font-weight: bold;
            padding-bottom: 28px;
        }
        .reg-agreement h2 {
            margin: 0;
            font-weight: bold;
            font-size: 1.9em;
            padding: 12px 0;
            text-align: center;
        }
        .reg-agreement h3 {
            font-weight: bold;
            font-size: 1.6em;
            margin-bottom: 6px;
        }
        .reg-agreement h3.top {
            margin-top:14px;
        }
        .reg-agreement p.normal {
            text-indent: 0em;
            margin-bottom: 14px;
        }
        .reg-agreement p {
            text-indent: 2em;
            font-size:1.2em ;
            line-height: 26px;
            margin:0;
            word-break: break-all;
            word-wrap: break-word;
        }
        .reg-agreement table.debit {
            border: 1px solid #8e8e8e;
            border-collapse: collapse;
            width: 90%;
            text-align: left;
            margin-left: 5%;
        }

        .reg-agreement table th, .reg-agreement table td {
            font-weight: normal;
            border-bottom: 1px solid #8e8e8e;
            border-right: 1px solid #8e8e8e;
            padding: 1px;
        }
        .reg-agreement p.common {
            text-indent: 0em;
        }
        .reg-agreement .fw-700{
            font-weight: 700;
        }
    </style>
</head>
<body>
<div id="app" style="height:100%">
    <div class="reg-agreement" style="height: 100%">
        <div class="reg-wrap">
            <h1>借款服务协议</h1>
            <br></br>
            <p>本协议是<%-data.appName%>手机APP应用（以下简称“<%-data.appName%>”）上符合条件并可以使用信用借款服务的注册用户（以下简称“用户”或“您”）与<%-data.appName%>运营主体<%- importantInfo.version == 0?importantInfo.importantCompanyName:data.companyName%>（以下简称为“<%- importantInfo.version == 0?importantInfo.importantCompanyShortName:data.companyShortName%>”或“<%-data.appName%>”）之间就用户使用<%-data.appName%>平台上所提供借款服务进行分期还款相关事宜所订立的契约。</p>
            <p class="fw-700">请您务必审慎阅读并充分理解各条款的内容，特别是加黑加粗、免除或者限制责任的条款以及开通或使用某项服务的条款或单独协议，点击“同意并继续”按钮后，本协议即构成对双方有约束力的法律文件。如发生法律纠纷，您不得以未仔细阅读或理解本协议为由进行抗辩。</p>
            <p class="fw-700">本产品目前仅对年满18周岁、非在校学生的成年人提供服务，未成年人以及在校学生请勿使用。如果您为未成年人的法定监护人或学生家长，请保证他们不会使用本产品。</p>
            <br></br>
            <h2>1. 借款基本信息</h2>
            <p>请您知晓并同意，本合同项下您的身份信息将以您在实名认证过程中所提交的信息为准，为了保护您的信息，合同展示时隐藏了您的部分敏感信息。</p>

            <h3>借款人： <%-data.loanUser%></h3>
            <h3>证件号码：<%-data.identification%></h3>
            <h3>证件类型：身份证</h3>
            <h3>借款金额：<%-data.money%>元（大写：<%-data.moneyCapital%>）</h3>
            <h3>借款期限：<%-data.loanDays%>期（自借款发放之日起至<%-data.repaymentDate%>）</h3>
            <h3>借款初始年化利率：<%-data.loanRate%> %</h3>
            <h3>收款账户：<%-data.receivedCardNo%></h3>
            <h3>还款方式：<%-data.repaymentType%></h3>
            <h3>合同签署日期：<%-data.signAgreementDate%></h3>

            <h2>2. 定义术语</h2>
            <p>除非本协议正文另有明确所指，在本协议中所用下列术语定义如下： </p>
            <p>2.1 <%-data.appName%></p>
            <p>是信用借款服务的营销推广名称，<%-data.appName%>可根据法规和营销推广的实际情况对该名称进行调整。 </p>
            <p>2.2平台规则</p>
            <p>指标示在<%-data.appName%>之上的，与用户使用<%-data.appName%>所提供的平台服务有关的任何规范性文件，包括但不限于购物流程、售后政策、退款说明等，同时包括<%-data.appName%>就信用借款服务制定的特别规则。</p>
            <p>2.3 信用借款服务</p>
            <p><%-data.appName%>为符合条件的用户在本平台凭借借款人个人信用而提供的借款服务。</p>
            <p>2.4 分期还款</p>
            <p>指用户确定将借款本金分为若干期偿还，并分期向<%-data.appName%>以及其指定的合作方支付分期服务费的一种还款方式。</p>
            <p>2.5 授信额度</p>
            <p>指<%-data.appName%>根据用户的资信状况、历史信用记录等因素综合评估确定的最高授信额度，该额度为商城信用消费和平台信用借款的共用额度，用户可依据实时公布的平台规则以及相应要求激活、查询和使用该额度。 </p>
            <p>2.6 借款记账日</p>
            <p>指用户选择使用信用借款服务后平台放款成功的日期。借款记账日以<%-data.appName%>支付结算系统确定的日期为准，用户可以在“我的订单”中查阅。</p>
            <p>2.7 当期账单</p>
            <p>当还款日为当前月份对应的账单周期之内，即还款日处于上一账单日后一日至下一个账单日之间，则下一个还款账单为当期账单。如，账单日为每月6日，则在该月前一月的7日至该月6日之间还款该月6日的账单时，这笔账单叫做当期账单</p>
            <p>2.8 到期还款日</p>
            <p>指用户应还款的最晚日期，在分期还款方式下，到期还款日为每一期款项应支付的最晚日期。<span class="fw-700">当用户在本平台第一次发生赊销或借款交易时，即确定了统一的到期还款日，即便日后再次发生新的交易，依然以该到期还款日为准。</span></p>
            <p>2.9 到期应还款</p>
            <p>指用户在到期还款日应支付的全部金额，包括但不限于消费本金、利息、服务费、以及可能产生的逾期费等。</p>
            <p>2.10 逾期费</p>
            <p>指用户在到期还款日前未能支付全部到期应还款而导致信用违约时，用户应付但尚未支付的本金所产生的逾期费用，<%-data.appName%>以及其合作方有权利向用户按日收取逾期费。</p>
            <h2>3. 申请借款条件</h2>
            <p>3.1 您有足够的偿债能力，并可以合理安排您的还款计划。</p>
            <p>3.2&nbsp;借款需使用您本人名义开户并设置了密码的账户签约，以该账户在<%-data.appName%>借款平台上所从事的所有行为均将视为您本人的行为，如订立合同、申请支用借款和归还借款等，您须承担该等行为的法律后果，请您务必保管好相关账户秘密，避免被盗或冒用而引发资金、信用等损失。</p>
            <p>3.3&nbsp;出借人有权依照法律法规对您使用借款的情况进行监督和检查，您提供的信息资料真实、完整、有效地证明您的身份和履约能力；您授权<%-data.appName%>及其为本次借款提供相关服务的关联主体（以下统称为“<%-data.appName%>及关联机构”），如为<%-data.appName%>审核、评估个人信用的关联公司、委托代为扣款的公司等，可在借款平台向您展示借款信息并提供相应服务。</p>

            <p>3.4 本协议第1条所述的收款账户为您所有和使用。</p>
            <p>3.5 本协议项下的各项授权在您清偿完毕全部应还款项之前持续有效。</p>
            <p>3.6 由于<%-data.appName%>出借额度为<%-data.appName%>对您初步预测及评估的授信额度，故<%-data.appName%>及关联机构<span class="fw-700">并不向您承诺在额度有效期内您可完全使用上述额度；<%-data.appName%>及关联机构可根据对您的风险评情况及本平台运营政策调整授信额度或停止授信。</span></p>
            <p>3.7 <span class="fw-700">若您被欺诈或账户被盗，期间前述账户名下可能产生因本借款服务涉及的欠款，为避免您承担不必要的还款义务或其他责任、损失，您同意并授权本平台将您因此可能获得的补偿、或赔付资金等直接或从您的相关账户中扣划至<%-data.appName%>账户用于清偿相应欠款。</span></p>
            <h2>4. 合同构成</h2>
            <p>本合同由合同条款、附件、借款平台各项规则以及与本借款相关的网络页面信息组成，各组成部分均具有法律效力。</p>
            <h2>5. 合同形式</h2>
            <p>您同意本合同以数据电文形式订立并认同其效力。</p>
            <h2>6. 合同的生效</h2>
            <p><span class="fw-700">本合同经您在平台点击“确认”并经审核通过且成功放款后方始生效，</span>但借款资金仅在您的借款申请经过<%-data.appName%>审核通过后才会划入本合同第1条约定的收款账户。</p>
            <h2>7. 款项发放</h2>
            <p>如无特别说明，本合同项下的款项发放日为资金划付至收款账户的日期。如因前述收款账户信息错误或收款银行问题等原因导致资金被退回的，您同意<%-data.appName%>可将该笔款项重新发放至您签署本合同的指定账户。考虑到<%-data.appName%>事实上之前已完成资金的发放，前述情况下的款项发放日以本合同签约日期为准。</p>
            <h2>8. 借款金额</h2>
            <p>借款发放后，您可登录借款平台查询借款金额。</p>
            <h2>9. 期限</h2>
            <p>9.1借款期限的一般规则</p>
            <p>除本合同另有约定外，您的借款期限可参见本合同第1条，从款项发放之日起计算，除<%-data.appName%>同意外不可延长借款期限。需要提醒您注意的是，<span class="fw-700">若您存在多笔借款，多笔借款的还款日将被统一成同一天。</span>在分期还款方式下，到期还款日为每一期款项应支付的最晚日期，<span class="fw-700">需要注意的是，以首笔借款发放成功之日确定您的到期还款日，该日期一经确定，不论您日后是否再次发起新的借款申请，该还款日都将是您在本平台上全部借款固定不变的还款日。但如果您在首次借款之前已经在<%-data.appName%>平台赊销商品，则以首笔赊销商品订单审核通过之日确定您在本协议下的到期还款日。</span></p>
            <p>由于还款日当天系统进行到期扣款操作的时点可能早于或晚于您的放款时点，故您在本合同项下的借款期限可能缩短或延长，对此您予以认可。</p>
            <p>9.2 借款提前到期的情形</p>
            <p>发生以下任一情形时，<%-data.appName%>有权决定本合同项下已发放的部分或全部借款提前到期：</p>
            <p>9.2.1 您未能按照本协议约定偿付到期本金或利息的；</p>
            <p>9.2.2 您存在本协议约定的任一违约情形或违反本协议任一条款的；</p>
            <p>9.2.3&nbsp;您对<%-data.appName%>或其他第三方的债务（如有）已到期（包括被宣布提前到期）后仍未偿还，或者您对其他第三方所负债务或违约责任已经影响您履行本合同项下义务的；</p>
            <p>9.2.4&nbsp;您的相关银行账户或其他账户（如有）发生异常现象，如被司法机关冻结、扣划，账户被止付或被暂停、终止使用等。</p>
            <h2>10. 借款利率、逾期费率和计息、结息、付息</h2>
            <p>10.1 借款利率</p>
            <p>10.1.1&nbsp;您的借款利率在本平台将按年显示，具体参见本合同第1条，年利率与日利率的换算方式为：年利率=日利率x360。已发放的借款利率不受利率调整的影响。</p>
            <p>10.1.2&nbsp;本合同第1条所述的借款初始日利率为借款原始利率；若您获得利率折扣优惠，则根据优惠规则所确定的折后日利率为本合同借款实际执行利率。若您逾期归还借款本金、利息或其他费用（如有），则可能被取消优惠，以借款初始日利率计息。</p>
            <p>10.1.3&nbsp;本平台服务限时提供各项优惠活动的，您使用优惠前请特别注意关于折扣优惠的所有页面文案及规则。若您不予认可优惠规则，请勿使用相应的优惠。</p>
            <p>10.2 逾期费率</p>
            <p>10.2.1&nbsp;您必须在到期还款日前登录本人账户并支付全部到期应还款项。如未能如期支付导致违约的，<%-data.appName%>有权向用户收取逾期费，逾期费=逾期应还本金*逾期日利率*逾期天数。逾期日利率为本协议第1条所示利率核算成日利率的1.5倍。用户支付应还款金额时，<%-data.appName%>将按照逾期费（如有）顺序最优的原则进行冲抵。</p>
            <p>10.2.2&nbsp;如用户的信用借款服务被暂停、或用户申请提前终止服务，则该用户的所有应还款项视为全部到期并应由用户全部支付。</p>
            <p>10.3 计息、结息和付息</p>
            <p>10.3.1借款利息自借款发放日起（含发放日）计算，按照等额本息方式还款付息。首期还款额以一个月为基础，按照首期实际天数进行调整。首期期限超过一个月的，除当期应还的等额本息金额以外，另行收取超过当月部分的利息；首期期限不足一个月的，从当期以整月为基础计算的等额本息中扣除相应的利息。上述利息的计算以未清偿本金为基数，以本协议约定的年利率换算成的日利率为计息率，按照多出或不足一个月的天数计算。</p>
            <p>10.3.2<span class="fw-700">若您未能按期归还借款本金（包括被宣布全部或部分提前到期的借款本金），则自逾期之日起您需按本合同约定的逾期费率支付逾期费。</span></p>
            <p>10.4 服务费的收取标准</p>
            <p>用户选择借款服务的，应支付的服务费包括征信服务费，以及可选的增值服务费两项，用户应支付的服务费和利息自提交借款申请并经审核通过之日起计算，且应于每月还款日或该日之前支付当月应还金额。</p>
            <p>征信服务费为<%-data.appName%>在为用户提供借款服务时在征信过程中产生的服务费，<span class="fw-700">您应于借款首期还款日一次性支付征信服务费，征信服务费金额=借款总额乘以征信服务费费率；该费率暂按<%-data.serviceChargeRate%>%计算，但<%-data.appName%>有权日后根据平台政策和运营情况对其予以调整。如发生调整的，则自调整后您申请下一笔借款时按新的费率计算。</span></p>
            <p>VIP会员可以选择一系列专享服务，除专享快速提额、快速审批、极速放款等多项会员权益外，如<span class="fw-700">VIP会员在申请每项借款时已选择增值服务、并交纳增值服务费的，则在其提前清偿赊销款项时免收提前还款手续费；但如已交纳增值服务费却未发生提前还款的，增值服务费不予退还。增值服务费金额以平台相关页面所列金额为准，暂按每笔借款<%-data.valuesAddedServiceCharge%>元的标准收取，但<%-data.appName%>有权日后根据平台政策和运营情况对其予以调整。如发生调整的，则自发生调整的下一笔借款起按新的费率计算。您有权选择关闭增值服务并免于交纳增值服务费。</span></p>
            <p class="fw-700"><%-data.appName%>保留对您收取费用的权利，且有权在有关法律法规允许的范围内，结合信用借款和业务发展等实际情况，维护和更新信用付款服务的适用范围、各项使用功能、服务范围和收费标准，并通过网站公告等方式及时通知用户。</p>
            <br></br>
            <h2>11. 还款</h2>
            <p>11.1 还款方式</p>
            <p>11.1.1系统扣款</p>
            <p>（1）保持余额充足</p>
            <p>系统扣款指于您还款日当日以及您有逾期账单时，<%-data.appName%>通过三方支付平台以代扣的方式将需要还款的金额收回，系统扣款为默认的扣款操作。<span class="fw-700">您应保证在平台“账单”页面中所列的每月还款日前一天，您的指定账户内有足够余额以供代扣，且您已授权<%-data.appName%>通过第三方按月从指定账户中划扣相应金额。</span>如果每月还款日遇到国家法定节假日、双休日的，则您应保证在当月还款日前一个工作日，您指定账户内有足够余额供前述第三方划扣，否则视为违约。如由于<%-data.appName%>或第三方机构的原因造成扣款失败或延迟扣款，您不承担相应违约责任。如果本合同项下的银行代扣失败，无论何种原因所致，您在本合同项下的还款义务不得因此而减免，您应采用其他合理方式支还款项。您如对代扣事宜有异议，可拨打<%-data.appName%>的客服热线。</p>
            <p>（2）关于批扣规则</p>
            <p><%-data.appName%>于还款日开始将通过第三方机构代扣您当月应还款，扣款金额为当期账单日金额。如您已正常还款，则账单结清后不再继续批扣。如您存在逾期账单，则在账单还清之前，<%-data.appName%>将一直进行批扣操作，扣款金额为往期账单中尚未偿付的账单金额总和。</p>
            <p>（3）关于冲抵规则</p>
            <p>若存在多个账单待还，则按账单还款日的先后顺序，依次进行抵扣以结清账单。当商城分期账单和现金借款账单都存在时，按照全部账单还款日的先后顺序进行抵扣。若同一账单包含多笔借款，则根据放款成功时间依次进行抵扣。<span class="fw-700">同一账单中的本金和各项费用抵扣的先后顺序为：逾期费（如有）>借款利息>征信服务费>增值服务费（或提前还款手续费）>借款本金。</span></p>
            <p>11.1.2主动还款</p>
            <p>用户可以选择使用<%-data.appName%>APP主动还款，主动还款支持按期还款，亦支持整笔结清，同时，您也可以通过主动还款清偿各项逾期款项。您须在每月还款日前通过<%-data.appName%>平台主动还款，还款时间以您的款项实际的到账时间为准。<span class="fw-700">关于冲抵规则，各项金额抵扣的先后顺序与系统扣款中列明的规则相同。</span></p>
            <p>11.1.3线下还款</p>
            <p>线下还款指<%-data.appName%>运营方的业务人员，在您的指令下通过系统后台操作代为还款的方式，线下还款按照订单的时间顺序可以支持按期还款、部分还款以及全部结清共三种还款规则，但首期还款用户选择线下还款方式的，<%-data.appName%>仅支持按期还款一种方式。<span class="fw-700">关于冲抵规则，各项金额抵扣的先后顺序与系统扣款中列明的规则相同。</span></p>
            <p>11.2 提前还款</p>
            <p>提前还款指用户对于归属于将来某一期的账单，在到来之前对其提前清偿的行为，提前还款行为可能涉及未到期利息和手续费的收取。</p>
            <p>11.2.1 提前还款计息规则</p>
            <p><span class="fw-700">当您提前清偿指定某项借款时，只有您通过提前还款将该项借款全部剩余期间的账单结清时才免除非当期利息，即<%-data.appName%>仅收取当期利息；其它情况下<%-data.appName%>除收取当期利息外，亦有权向您正常收取提前还款的非当期利息。</span>如，用户的某项借款含当期账单在内共计剩余四期账单尚未清偿，如用户当前选择立即清偿当期账单以及之后的两期账单，则尚有最后一期账单未予结清，<%-data.appName%>收取您提前还款的利息，除包含当期账单之利息外，另应包含之后两期账单之应计利息；如您提前还款时选择将剩余四期账单全部清偿，则<%-data.appName%>收取您提前还款的利息应仅包含当期利息。</p>
            <p>若用户的账单中包含多笔借款，则<%-data.appName%>将按照多笔账款分别计算利息，再计算该账单所需的利息总额。</p>
            <p>11.2.2 提前还款手续费规则</p>
            <p><span class="fw-700">您同意<%-data.appName%>有权对您提前还款金额中非当期账单的还款收取提前还款手续费，该费率暂按<%-data.advenceRepaymentRate%>%计算，但<%-data.appName%>有权日后根据平台政策和运营情况对其予以调整。</span>乙方做出的调整，于宣告当日生效，如甲方在乙方宣告后选择提前还款，则应采用新的费率标准交纳提前还款手续费。如果您在决定分期之前已选择VIP会员增值服务的，则在您提前还款时，<%-data.appName%>将免除您全部提前还款的手续费。</p>
            <p>11.3 其他还款约定</p>
            <p>11.3.1&nbsp;保持余额充足或变更还款账户</p>
            <p>鉴于您的平台账户就绑定的银行卡账户可能会出现如余额不足、份额不足、功能或转账额度受限等情况。一旦还款账户出现上述限制，请您在扣款日前及时变更还款账户或还款方式，或联系客服热线申请线下还款，否则引发借款逾期的，除法律法规明确规定外，您须承担本协议项下相应的损失和责任。</p>
            <p>11.3.2&nbsp;还款时间和顺序</p>
            <p>您的还款时间以<%-data.appName%>委托关联公司从您的还款账户实际划扣到还款资金的时间为准，还款金额以出借人实际收到您的还款金额为准。<span class="fw-700">还款的清偿顺序可能被作出调整，遇到多笔要归还的借款时，<%-data.appName%>可能会根据实际需要自行决定还款的先后顺序和金额。</span></p>
            <h2>12. 权利和义务</h2>
            <p>12.1 您的主要权利和义务</p>
            <p>12.1.1&nbsp;要求信息保密</p>
            <p>您有权要求对您提供的相关信息予以保密，但法律法规另有规定或本合同另有约定的除外。</p>
            <p>12.1.2&nbsp;妥善保管信息义务</p>
            <p>您应妥善保管<%-data.appName%>就银行账户、密码、数字证书、与<%-data.appName%>账户或相关银行账户绑定的手机号码、手机验证码等以及与<%-data.appName%>或相关银行账户有关的一切信息。您切勿向其他任何人泄露相关银行账户的密码、手机验证码，否则可能遭受损失。若您发现有他人盗用您的相关银行账户及密码或其他未经合法授权之情形时，应立即联系客服。同时，请理解，对您的请求采取行动需要合理期限，在此之前除法律明确规定外，您可能需要自行承担所产生的损失。</p>
            <p>12.1.3&nbsp;账户持续存立义务</p>
            <p>在您未清偿所有应还款项前，您对名下相关银行账户的变更或注销权利可能受到限制，您同意<%-data.appName%>根据<%-data.appName%>的指令执行前述限制措施。</p>
            <p>12.1.4&nbsp;账户余额充足义务</p>
            <p>您应保证还款账户余额充足且可被扣收，并按本合同的约定归还借款本息及其他有关费用。</p>
            <p>12.1.5&nbsp;合法使用资金义务</p>
            <p>您应根据要求配合出借后续管理需要及时向<%-data.appName%>及关联机构提供借款资金使用记录和资料。您承诺严格按本合同约定的用途使用借款，不挤占挪用借款，不将借款用于购买住房、从事股本权益性投资、股票、基金、期货、金融衍生品投资或从事其他违法违规交易。</p>
            <p>12.1.6&nbsp;信息变更及时通知义务</p>
            <p>您的基本信息，如通讯地址、电子邮件地址、手机号码等发生变更的、或您的经济状况、还款能力出现不利变化的，应及时联系客服。</p>
            <p>12.2&nbsp;<%-data.appName%>的主要权利和义务</p>
            <p>12.2.1&nbsp;<%-data.appName%>应按照本合同的约定发放借款，行使相应的权利义务。</p>
            <p>12.2.2&nbsp;<%-data.appName%>可向您主张借款本息及费用，并请您就相关监督和检查工作提供方便。</p>
            <p>12.2.3&nbsp;若您发生本合同项下的违约行为就违反本合同其他约定，<%-data.appName%>可通知相关银行对您的账户采取限制措施，或者采取本合同约定就法律允许的其他救济措施。</p>
            <p>12.2.4&nbsp;为确保您的借款体验，根据业务需要<%-data.appName%>和借款服务方可能委托其他三方对本借款业务提供技术支持。</p>
            <h2>13. 信息收集、使用、共享与保护  </h2>
            <p>13.1 信息收集</p>
            <p>为了客观、准确地评估您的信用情况和授信额度，防范可能的风险，方使您更好的使用服务，在下列情形下您需要提供一些信息，同时<%-data.appName%>及关联机构也会在遵循合法、正当、必要原则的前提下，按照如下方式收集您的相关信息：</p>
            <p>13.1.1&nbsp;在您申请或使用借款过程中，您向<%-data.appName%>及关联机构提交的信息或新产生的信息。</p>
            <p>13.1.2&nbsp;为了风险控制等合法目的，向<%-data.appName%>及关联机构的关联公司及合法留存您信息的其他方（如商户等）收集与借款服务相关的必要信息，如您的姓名、证件类型及号码、联系电话及地址、履约情况等。</p>
            <p>13.1.3&nbsp;向其他法律、监管机构许可设立的信用服务机构采集您的信用信息和信用报告。</p>
            <p>13.1.4&nbsp;向部分政府机构、司法机关及公共事业单位、行业组织（如人力资源和社会保障部门、公积金中心、人民法院、中国互联网金融协会等）采集与借款相关的必要信息，如您的社保信息、公积金信息、诉讼信息等。</p>
            <p>13.1.5&nbsp;向您同意的其他来源收集与借款服务相关的必要信息。</p>
            <p>13.1.6&nbsp;为了取得与您的联系、降低您的违约成本，以及出于反欺诈等风险控制的目的，<%-data.appName%>及关联机构需要收集您向<%-data.appName%>及关联机构及<%-data.appName%>及关联机构的关联公司提供的您的关联人的姓名及联系方式等必要信息。根据法律法规的要求，请您事先向前述关联人进行必要的告知（如信息范围、用途等），并获得其同意。</p>
            <p>13.2&nbsp;信息使用</p>
            <p>为完整地向您提供服务以及保护各方的合法权益，您理解和同意<%-data.appName%>及关联机构可能会将您的信息用于如下用途：</p>
            <p>13.2.1&nbsp;为保护您交易及账户安全，校验信息的准确性，对您的身份及其他必要信息进行识别、验证等。</p>
            <p>13.2.2&nbsp;为提供适合您的服务，提供服务状态通知及查询服务，并持续维护、改善这些服务，对您的信息进行分析、加工和处理。</p>
            <p>13.2.3&nbsp;为合理评估的还款能力和还款意愿，防控风险。</p>
            <p>13.2.4&nbsp;为使您知晓<%-data.appName%>及关联机构的服务情况或向您推荐更优质的服务，通过电子邮件、网络客户端消息提示或推送、手机短信等方式向发送服务通知、营销活动或其他商业性电子信息，若您认为前述方式对您造成了打扰，请拨打本合同提供的客服热线或在您收到营销信息后按照信息提示的方式退订。</p>
            <p>13.2.5&nbsp;预防或阻止违法、违规的活动，如识别、打击洗钱等。</p>
            <p>13.2.6&nbsp;为了维护您的权益，或者为了解决<%-data.appName%>及关联机构与您之间产生的争议。</p>
            <p>13.2.7&nbsp;当您逾期欠款或存在无法自行按时还款的情形，且<%-data.appName%>及关联机构经合理努力仍无法与您取得直接联络的情况下，为了尽快避免或者降低逾期或违约给您造成的不利后果，请理解并同意：</p>
            <p>(1)&nbsp;<%-data.appName%>及关联机构可向您的关联人告知您的逾期情况，以便在前述人士自愿的前提下及时向您转达相关信息，提示您及时履约；</p>
            <p>(2)&nbsp;若您的亲属主动联系<%-data.appName%>及关联机构，愿意为您代为还款的，则<%-data.appName%>及关联机构将向您的亲属告知您的借款情况，以便其为您还款。</p>
            <p>13.2.8&nbsp;根据法律法规、监管部门要求就其他经您另行明确同意的用途。</p>
            <p>13.3 信息共享</p>
            <p><%-data.appName%>及关联机构承诺会根据法律法规及监管规定严格保护您的个人信息，不会为满足与借款服务无关的第三方的营销目的而向其披露您的信息，您同意<%-data.appName%>及关联机构可能会在下列情况下将必要的信息与第三方共享：</p>
            <p>13.3.1&nbsp;为了实现本借款之必要业务目的，<%-data.appName%>及关联机构之间需要共享您的必要信息。</p>
            <p>13.3.2&nbsp;为了促进社会信用体系的建立及完善，如实反馈您在使用借款服务时的记录，您同意将您提供的或履约中产生的相关必要信息（包括不良信息）提供给金融信用信息基础数据库、芝麻信用管理有限公司等信用服务机构、中国互联网金融协会等行业自律组织或其他合法有权机构。</p>
            <p>13.3.3&nbsp;某些情况下，只有共享您的信息，才能处理与您相关的争议，维护您或<%-data.appName%>及关联机构的合法权益的。</p>
            <p>13.3.4&nbsp;若<%-data.appName%>及关联机构的关联公司根据其与您的约定可以获取您的履约情况等信息，<%-data.appName%>及关联机构将依据您同意的范围向关联公司提供该等信息。</p>
            <p>13.3.5&nbsp;行政和司法机关根据法律及行政法规的合法要求。</p>
            <p>13.4 委托处理</p>
            <p>为了提升服务效率，降低服务成本，或提高服务质量，<%-data.appName%>及关联机构可能需要委托关联公司或专业机构(以下合称“受托机构“)协助完成本合同项下的部分服务或职责，例如：</p>
            <p>13.4.1&nbsp;委托受托机构按照本合同的约定采集您的信息或对您的信息进行分析、加工和处理，用于借款服务的风险控制或维护、改善借款服务。</p>
            <p>13.4.2&nbsp;委托受托机构评估您的履约能力和履约意愿，供<%-data.appName%>决策参考。</p>
            <p>13.4.3&nbsp;委托受托机构提供客户服务。</p>
            <p>13.4.4&nbsp;当您逾期欠款或发生其他违约行为时，<%-data.appName%>及关联机构可委托专业公司、律师事务所等合法合规的机构代为催收。</p>
            <p>为此，<%-data.appName%>及关联机构将在与借款服务相关的必要范围内向受托机构提供您的部分信息。<%-data.appName%>及关联机构承诺受托机构同样遵守严格的保密义务及采取有效的保密措施，禁止其将这些信息用于未经您同意的用途，<%-data.appName%>对您的信息安全记录承担相应的责任。</p>
            <p>13.5 信息保护</p>
            <p>除根据法律法规定及本合同对您的个人信息和隐私予以保护外，在收集、使用、分享您信息的同时<%-data.appName%>及关联机构重视对您的隐私保护，关于您的身份信息及其他资料将同时依据<%-data.appName%>相关政策以及<%-data.appName%>可能与您签署的其他隐私权政策或条款进行保护与规范。</p>
            <h2>14. 免责条款</h2>
            <p>14.1 免责范围</p>
            <p><%-data.appName%>及与提供信用借款服务相关平台的信息系统出现下列任一状况而无法正常运作，致使无法向用户提供本协议项下的各项服务，<%-data.appName%>不承担任何违约或赔偿责任，该状况包括但不限于：</p>
            <p>14.1.1&nbsp;在服务网站维护期间发生的状况；</p>
            <p>14.1.2&nbsp;电信设备出现故障不能进行数据传输的；</p>
            <p>14.1.3&nbsp;因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务等状况。</p>
            <p>14.1.4&nbsp;由于黑客攻击、电信部门和其他<%-data.appName%>有信息技术依赖的相关部门、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
            <p>14.2 履约义务提前到期</p>
            <p>本协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致<%-data.appName%>或提供信用借款服务相关平台不能提供约定服务的，不视为其违约，各方可根据相关的法令、政策变更协议内容或提前终止本协议，在此情况下，用户已经使用信用借款服务而尚未到期或偿还的任何款项（包括服务费和其他费用），视为立即到期，用户应立即归还，否则<%-data.appName%>仍有权按照本协议的约定采取合理的救济措施。</p>
            <h2>15. 协议的变更、解除和终止；权利义务的转让</h2>
            <p>15.1 协议变更与解除 </p>
            <p>15.1.1&nbsp;<span class="fw-700"><%-data.appName%>有权随时单方面修改本协议中与用户之间相关的权利义务，并及时以公告的方式通知用户。修改之后的协议将在用户之后发生的交易或行为中生效，若用户不同意修改本协议，则应当立即停止使用借款服务并全额支付本协议项下全部应还款项，包括但不限于借款本金、利息、分期服务费、逾期费等。否则，视为用户同意并接受修改后的协议。 </span></p>
            <p>15.1.2&nbsp;<span class="fw-700">经修订的协议一经通知，立即自动生效。</span>一旦用户继续使用信用借款服务即被视为用户已接受了修改后的协议内容；如用户不同意相关变更，应自前述通知发出之日起停止使用服务并在<%-data.appName%>要求的期限内支付全部应还款项，包括但不限于借款本金、利息、分期服务费、逾期费等。</p>
            <p>15.1.3&nbsp;<span class="fw-700">本协议生效后，除本协议另有约定外，您不得要求单方擅自变更或解除本协议。</span><%-data.appName%>有权基于自身经营考虑，因任何理由随时宣布中断、终止本协议或其任何部分，并要求用户在指定期限内支付本协议项下全部应还款项，包括但不限于借款本金、利息、分期服务费、逾期费等。</p>
            <p>15.2 协议的终止</p>
            <p>您在使用借款服务的过程中，<span class="fw-700">如果有下列情形发生，您同意<%-data.appName%>有权终止提供服务，用户应立即支付所有到期和未到期的应还款项，</span>包括但不限于借款本金、利息、分期服务费、逾期费等 。</p>
            <p>15.2.1&nbsp;您主动关闭信用借款服务；</p>
            <p>15.2.2&nbsp;您个人<%-data.appName%>账户被注销；</p>
            <p>15.2.3&nbsp;冒用他人名义、盗用他人账户使用信用借款服务；</p>
            <p>15.2.4&nbsp;您违反本协议约定导致本协议违约情形出现的；</p>
            <p>15.2.5&nbsp;从事司法机构、监管机构等认为违法违规的行为，或<%-data.appName%>认定的不适当行为；</p>
            <p>15.2.6&nbsp;除上述原因外，<span class="fw-700"><%-data.appName%>有权根据风险及自身业务运营情况需要随时中止或终止向用户提供借款服务，因此导致用户无法使用服务或服务受到限制的，不视为信用借款服务提供方违约，</span>在此情况下，用户已经使用信用借款服务而尚未到期或偿还的任何款项，包括服务费和其他费用，视为立即到期，用户应立即归还。</p>
            <p>15.3 权利义务的转让</p>
            <p>未经信用借款服务提供方书面同意，用户不得将本协议项下的权利和义务转让给任何第三方。</p>
            <h2>16. 合同的适用法律及争议解决方式</h2>
            <p>因本协议引起的或与本协议有关的争议，<%-data.appName%>可与用户协商解决。协商不成的，任何一方均有权提起诉讼，并以原告所在辖区的人民法院为第一审管辖法院，并可采用视听传输技术等方式开庭。在争议处理期间，本合同不涉及争议部分的条款仍须履行。</p>
            <h2>17. 通知</h2>
            <p>本合同履行过程中，<%-data.appName%>及关联机构发送给您的书面通知，按照您在借款平台信息系统中填写的通讯地址交邮后的第三个自然日即视为送达。书面通知的形式还可采用如在借款平台公告、<%-data.appName%>网站公告、向您发送电子邮件、网站内信息、各类APP消息、手机短信和传真等电子方式，在用电子方式进行书面通知的情况下发送当日即视为送达。<%-data.appName%>及关联机构可决定以前述一种或几种形式书面通知您。<%-data.appName%>及关联机构以多种方式向您发送通知的，通知送达时间以最先送达的为准。</p>

        </div>
    </div>
</div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data(){
      return {
        title:'借款服务协议'
      }
    },
    created() {
      this.isIosOrAndroid();
    },
    methods:{
      isIosOrAndroid(){
        var browser = {
          versions: function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            return {//移动终端浏览器版本信息
              ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
              android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
            };
          }(),
          language: (navigator.browserLanguage || navigator.language).toLowerCase()
        };
        if(browser.versions.android === true){
          this.type = 'android'
          window.installment_installment.updateTitle(this.title)
        }else{
          this.type = 'ios'
          window.webkit.messageHandlers.installment_installment.postMessage({type:'title',title:this.title});
        }
      },
      pushBack(){
        if(this.type == 'ios'){
          window.webkit.messageHandlers.installment_installment.postMessage({type:'pushback'}); // 返回首页
        }else{
          window.installment_installment.finish()
        }
      },
    }
  })
</script>
</html>
