<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://asks.oss-cn-beijing.aliyuncs.com/static/css/important.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/common.css" rel="stylesheet" type="text/css"/>
    <script src="https://asks.oss-cn-beijing.aliyuncs.com/static/js/vueJs2.5.16.js"></script>
    <title>Title</title>
    <style>

    </style>
</head>
<body>
    <div style="text-align: center;margin-top: 20%" id="app">
        <img  src="/public/images/msg_empty.png" style="margin: 0 auto" alt="" class="" width="150px">
        <p style="text-align:center;color:#999;" class="f-20">暂无消息</p>
    </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: function data() {
      return {
        title: '消息中心'
      };
    },
    created: function created() {
      this.isIosOrAndroid();
    },
    methods: {
      pushBack: function pushBack() {
        if (this.type == 'ios') {
          window.webkit.messageHandlers.installment_installment.postMessage({
            type: 'pushback'
          }); // 返回首页
        } else {
          window.installment_installment.finish();
        }
      },
      isIosOrAndroid: function isIosOrAndroid() {
        var browser = {
          versions: function () {
            var u = navigator.userAgent,
              app = navigator.appVersion;
            return {
              //移动终端浏览器版本信息
              ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
              //ios终端
              android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1 //android终端或uc浏览器

            };
          }(),
          language: (navigator.browserLanguage || navigator.language).toLowerCase()
        };

        if (browser.versions.android === true) {
          this.type = 'android';
          window.installment_installment.updateTitle(this.title);
        } else {
          this.type = 'ios';
          window.webkit.messageHandlers.installment_installment.postMessage({
            type: 'title',
            title: this.title
          });
        }
      }
    }
  });
</script>
</html>